extends layout

block content
  div.pure-g-r#layout
    div.pure-u
      div.pure-menu.pure-menu-open.pure-menu-horizontal
        ul
          li.pure-menu-selected: a(href="#") Home
          li: a(href="#") Details
          li: a(href="#") Menu 2
          li: a(href="#") Menu 3

    form.pure-form
      fieldset
        input(type="text", placeholder="$250")
        button(type="submit", class="pure-button pure-button-success") Bet
